<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Beering"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="oauth"
                    android:scheme="kakao0f4a4d68b6c509c4e6eb16075b15c7d7" />
            </intent-filter>
        </activity>


        <activity
            android:name=".feature.auth.join.term.Term2Dialog"
            android:exported="false" />
        <activity android:name=".feature.drink.DrinkDetailActivity" />
        <activity
            android:name=".feature.review.reviewDetail.ReviewDetailActivity"
            android:exported="true"></activity>
        <activity android:name=".feature.search.SearchFilterActivity" />
        <activity android:name=".feature.auth.join.JoinActivity" />
        <activity android:name=".feature.auth.login.LoginActivity" />
        <activity android:name=".feature.my.drinkFavorite.DrinkFavoriteActivity" />
        <activity android:name=".feature.review.reviewWriting.ReviewWritingActivity" />
        <activity android:name=".feature.my.myReviews.MyReviewsActivity" />
        <activity android:name=".feature.my.likeReviews.LikeReviewsActivity" />
        <activity android:name=".feature.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Beering.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".feature.review.drinkDetailReviews.DrinkDetailReviewsActivity" />
        <activity
            android:name=".feature.MainActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".feature.auth.LoginRequestActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>